hls/saves/model_analysis/
hls/saves/logs/
hls/saves/opentuner/
hls/saves/params_tunning/
hls/saves/tmp/
hls/saves/models/test*
hls/saves/models/my*
hls/data/data_v*
hls/data_preprocessed/
hls/opentuner.db/
hls/opentuner.log
hls/opentuner_my/
hls/*.pyc
hls/.idea/
hls/main_*
hls/analysis/*
hls/analysis_*
*/.DS_Store
hls/data/.DS_Store
